@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Space Grotesk", sans-serif;
  color: #191a23;
  background-color: #ffffff;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@layer components {
  .h1 {
    @apply text-4xl md:text-6xl font-bold leading-tight;
  }

  .h2 {
    @apply text-3xl md:text-5xl font-bold;
  }

  .h3 {
    @apply text-2xl md:text-4xl font-semibold;
  }

  .h4 {
    @apply text-xl md:text-2xl font-semibold;
  }

  .p {
    @apply text-sm md:text-base text-gray-700;
  }
}
